Repository leancodepl/flutter_corelibrary, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Albert221, @shilangyu, @lukaszgarstecki, @Xezolpl, @RobertOdrowaz, @bartekpacia, @kotertom

Bring back testing parameters
  packages/debug_page/test/logging_http_client_test.dart
Owners: none

Bump Dart/Flutter versions on CI
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  .github/workflows/enhanced_gradients-publish.yml
  .github/workflows/enhanced_gradients-test.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-publish.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-test.yml
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/leancode_lint-test.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
Owners: none

Fix example of leancode_flutter_svg_adaptive_loader
  packages/leancode_flutter_svg_adaptive_loader/example/lib/adaptive_svg_gen_image.dart
  packages/leancode_flutter_svg_adaptive_loader/example/lib/main.dart
Owners: @Xezolpl

Fix lint issues in override_api_endpoint
  packages/override_api_endpoint/lib/override_api_endpoint.dart
Owners: @lukaszgarstecki, @Xezolpl

Remove test step from leancode_flutter_svg_adaptive_loader CI
  .github/workflows/leancode_flutter_svg_adaptive_loader-test.yml
Owners: none

Ignore patch versions in CI
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  .github/workflows/enhanced_gradients-publish.yml
  .github/workflows/enhanced_gradients-test.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-publish.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-test.yml
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/leancode_lint-test.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
Owners: none

.github/CODEOWNERS:

packages/cqrs @Albert221 @shilangyu
packages/login_client @Albert221
packages/login_client_flutter @Albert221
packages/override_api_endpoint @lukaszgarstecki @Xezolpl
packages/leancode_lint @RobertOdrowaz @shilangyu
packages/leancode_hooks @bartekpacia
packages/enhanced_gradients @kotertom
packages/leancode_flutter_svg_adaptive_loader @Xezolpl
