Repository leancodepl/flutter_corelibrary, pull requests merged in 2024-12, with the labels that each got.

#389 Prepare for publishing
  packages/leancode_analytics/CHANGELOG.md
  packages/leancode_analytics/pubspec.yaml
Labels: p:leancode_analytics

#395 Support custom lint ^0.7.0
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/lints/add_cubit_suffix_for_cubits.dart
  packages/leancode_lint/lib/lints/avoid_conditional_hooks.dart
  packages/leancode_lint/lib/lints/avoid_single_child_in_multi_child_widget.dart
  packages/leancode_lint/lib/lints/catch_parameter_names.dart
  packages/leancode_lint/lib/lints/constructor_parameters_and_fields_should_have_the_same_order.dart
  packages/leancode_lint/lib/lints/hook_widget_does_not_use_hooks.dart
  packages/leancode_lint/lib/lints/prefix_widgets_returning_slivers.dart
  packages/leancode_lint/lib/lints/start_comments_with_space.dart
  packages/leancode_lint/lib/lints/use_instead_type.dart
  packages/leancode_lint/pubspec.yaml
  packages/leancode_lint/test/lints_test_app/pubspec.lock
  packages/leancode_lint/test/lints_test_app/pubspec.yaml
Labels: p:leancode_lint

#397 Support Dart 3.6
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/leancode_lint-test.yml
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/lints/add_cubit_suffix_for_cubits.dart
  packages/leancode_lint/lib/lints/avoid_conditional_hooks.dart
  packages/leancode_lint/lib/lints/avoid_single_child_in_multi_child_widget.dart
  packages/leancode_lint/lib/lints/catch_parameter_names.dart
  packages/leancode_lint/lib/lints/constructor_parameters_and_fields_should_have_the_same_order.dart
  packages/leancode_lint/lib/lints/hook_widget_does_not_use_hooks.dart
  packages/leancode_lint/lib/lints/prefix_widgets_returning_slivers.dart
  packages/leancode_lint/lib/lints/start_comments_with_space.dart
  packages/leancode_lint/lib/lints/use_instead_type.dart
  packages/leancode_lint/pubspec.yaml
  packages/leancode_lint/test/lints_test_app/pubspec.lock
  packages/leancode_lint/test/lints_test_app/pubspec.yaml
Labels: p:leancode_lint

#393 [leancode_analytics] Update package configurations
  .github/workflows/leancode_analytics-publish.yml
  .github/workflows/leancode_analytics-test.yml
  README.md
  packages/force_update/README.md
  packages/leancode_analytics/LICENSE
  packages/leancode_analytics/README.md
  packages/leancode_analytics/lib/core/analytics.dart
  packages/leancode_analytics/pubspec.yaml
  packages/leancode_analytics/test/lean_analytics_test.dart
  packages/leancode_flutter_svg_adaptive_loader/example/lib/main.dart
  packages/leancode_markup/example/lib/main.dart
Labels: p:leancode_analytics, p:force_update, p:leancode_markup, p:leancode_flutter_svg_adaptive_loader

#408 [leancode_analytics] Update firebase and remove deprecated method
  .github/workflows/leancode_analytics-test.yml
  packages/leancode_analytics/CHANGELOG.md
  packages/leancode_analytics/lib/firebase/firebase_analytics.dart
  packages/leancode_analytics/pubspec.yaml
  packages/leancode_analytics/test/lean_analytics_test.dart
Labels: p: leancode_analytics, p:leancode_analytics

#410 Fix version in changelog
  packages/leancode_analytics/CHANGELOG.md
Labels: p:leancode_analytics

#411 Upgrade dart and flutter in publish action
  .github/workflows/leancode_analytics-publish.yml
Labels: p: leancode_analytics, p:leancode_analytics

#413 Add new lints from Dart 3.6
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Labels: p: leancode_lint, p:leancode_lint
