Repository leancodepl/flutter_corelibrary, pull requests merged in 2025-06, with the labels that each got.

#462 Add lints from Dart 3.8
  .github/CODEOWNERS
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/leancode_lint-test.yml
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Labels: p: leancode_lint

#463 Upgrade to support Flutter 3.32
  .github/workflows/leancode_force_update-publish.yml
  .github/workflows/leancode_force_update-test.yml
  packages/leancode_force_update/.fvmrc
  packages/leancode_force_update/.gitignore
  packages/leancode_force_update/analysis_options.yaml
  packages/leancode_force_update/example/analysis_options.yaml
  packages/leancode_force_update/example/lib/main.dart
  packages/leancode_force_update/example/lib/suggest_update_dialog.dart
  packages/leancode_force_update/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/leancode_force_update/example/pubspec.lock
  packages/leancode_force_update/example/pubspec.yaml
  packages/leancode_force_update/lib/data/contracts/contracts.dart
  packages/leancode_force_update/lib/data/contracts/contracts.g.dart
  packages/leancode_force_update/lib/src/force_update_guard.dart
  packages/leancode_force_update/lib/src/force_update_storage.dart
  packages/leancode_force_update/pubspec.yaml
  packages/leancode_force_update/test/force_update_test.dart
  packages/leancode_force_update/test/utils.dart
Labels: p: leancode_force_update

#466 [leancode_debug_page] Fix debug page on web
  packages/leancode_debug_page/CHANGELOG.md
  packages/leancode_debug_page/example/android/app/build.gradle
  packages/leancode_debug_page/example/android/build.gradle
  packages/leancode_debug_page/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/leancode_debug_page/example/android/settings.gradle
  packages/leancode_debug_page/example/pubspec.lock
  packages/leancode_debug_page/lib/src/ui/debug_page_button.dart
  packages/leancode_debug_page/pubspec.yaml
Labels: p: leancode_debug_page
