Repository leancodepl/flutter_corelibrary, pull requests merged in 2025-01, with the labels that each got.

#414 Upgrade rxdart in debug_page
  .github/workflows/leancode_debug_page-publish.yml
  .github/workflows/leancode_debug_page-test.yml
  packages/leancode_debug_page/CHANGELOG.md
  packages/leancode_debug_page/README.md
  packages/leancode_debug_page/example/pubspec.lock
  packages/leancode_debug_page/pubspec.yaml
  packages/leancode_debug_page/test/logging_http_client_test.dart
Labels: p:leancode_debug_page

#418 Bump enhanced_gradients to Flutter 3.27
  .github/workflows/enhanced_gradients-publish.yml
  .github/workflows/enhanced_gradients-test.yml
  packages/enhanced_gradients/.fvmrc
  packages/enhanced_gradients/CHANGELOG.md
  packages/enhanced_gradients/example/analysis_options.yaml
  packages/enhanced_gradients/example/pubspec.yaml
  packages/enhanced_gradients/lib/src/hct_color_tween.dart
  packages/enhanced_gradients/pubspec.yaml
  packages/enhanced_gradients/test/src/hct_color_tween_test.dart
Labels: p:enhanced_gradients

#419 Change version number from 3.0.0 to 2.0.0
  packages/enhanced_gradients/CHANGELOG.md
  packages/enhanced_gradients/pubspec.yaml
Labels: p:enhanced_gradients

#420 [LMG-109] Publish force update
  .github/workflows/force_update-publish.yml
  .github/workflows/force_update-test.yml
  README.md
  packages/force_update/README.md
  packages/force_update/pubspec.yaml
Labels: p:force_update
